<style>
  .schedules {
    display: flex;
    gap: 1rem;
  }
  .hour {
    display: block;
  }
  .day-avg {
    margin-top: 1rem;
  }
</style>

<input type="hidden" name="date" value="{{ schedule.date }}" />
<div class="schedules">
  {% for pin in schedule.pins %}
  <div class="pin-schedule">
    <h2>{{ pin.name }}</h2>
    {% for item in pin.hours %}
    <label class="hour">
      {{ item.hour }}
      <input
        id="hour-{{ loop.index0 }}"
        name="pin_hours"
        type="checkbox"
        value="{{ pin.pin }},{{ loop.index0 }}"
        {% if item.on %}checked{% endif %}
        {% if item.past %}disabled{% endif %}
      />
      {{ item.price }}
    </label>
    {% endfor %}
    <div>Päällä: {{ pin.num_on_hours }} h</div>
    <div>Keskihinta: {{ "{:.3}"|format(pin.avg_price) }}</div>
  </div>
  {% endfor %}
</div>
<div class="day-avg">
  Vuorokauden keskihinta: {{ "{:.3}"|format(schedule.avg_price) }}
</div>
