<input type="hidden" name="date" value="{{ schedule.date }}" />
{% for pin in schedule.pins %}
<div>{{ pin.name }}</div>
{% for item in pin.hours %}
<div class="hour">
  <label for="hour-{{ loop.index0 }}">{{ item.hour }}</label>
  <input id="hour-{{ loop.index0 }}" name="pin_hours" type="checkbox" value="{{ pin.pin }},{{ loop.index0 }}" {% if item.on %}checked{% endif %} />
  {{ item.price }}
</div>
{% endfor %}
<div>
  Keskihinta: {{ "{:.3}"|format(pin.avg_price) }}
</div>
{% endfor %}
<div>
  Vuorokauden keskihinta: {{ "{:.3}"|format(schedule.avg_price) }}
</div>
