<form hx-post="/schedule" hx-target="this" hx-swap="outerHTML" hx-disabled-elt="button[type=submit]">
  <input type="hidden" name="date" value="{{ schedule.date }}" />
  <div class="schedules">
    <style>
      me {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
      }
      me h2 {
        margin: 0.5rem 0;
        font-size: 1rem;
      }
      me label {
        display: flex;
        align-items: center;
      }
    </style>
    {% for pin in schedule.pins %}
    <div class="pin-schedule">
      <h2>{{ pin.name }}</h2>
      {% for item in pin.hours %}
      <label>
        <span>{{ item.hour }}</span>
        <input
          id="hour-{{ loop.index0 }}"
          name="pin_hours"
          type="checkbox"
          value="{{ pin.pin }},{{ loop.index0 }}"
          {% if item.on %}checked{% endif %}
          {% if item.past %}disabled{% endif %}
        />
        <span>{{ item.price }}</span>
      </label>
      {% endfor %}
      <div class="info">
        <style>
          me {
            padding-top: 0.5rem;
            line-height: 1.5;
          }
        </style>
        <div>Päällä: {{ pin.num_on_hours }} h</div>
        <div>Keskihinta: {{ "{:.3}"|format(pin.avg_price) }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% if !schedule.past %}
    <button type="submit">Tallenna</button>
  {% endif %}
  <button type="button" hx-post="/email" hx-params="date" hx-disabled-elt="this">Lähetä aikataulu</button>
  <p>
    Vuorokauden keskihinta: {{ "{:.3}"|format(schedule.avg_price) }}
  </p>
</form>
