{% extends "base.html" %}

{% block body %}
<style>
  body {
    margin: 0;
    padding: 1rem;
  }
  #navi {
    display: flex;
    > * {
      flex: 1;
    }
    margin-bottom: 1rem;
  }
  #schedule {
    margin-bottom: 1rem;
  }
</style>

<div id="navi" hx-boost="true">
  <div>
    {% match prev_date %}
      {% when Some with (date) %}<a href="/?date={{ date }}">&laquo;</a>
      {% when None %}&laquo;
    {% endmatch %}
    {{ current_date }}
    {% match next_date %}
      {% when Some with (date) %}<a href="/?date={{ date }}">&raquo;</a>
      {% when None %}
    {% endmatch %}
  </div>
  <div>
    <a href="/">Tänään</a>
  </div>
</div>

{% include "components/schedule.html" %}
{% endblock %}
