{% extends "base.html" %}

{% block body %}
<nav hx-boost="true">
  <style>
    me {
      display: flex;
      margin-bottom: 1rem;
    }
    me > div {
      flex: 1;
    }
  </style>
  <div>
    {% match prev_date %}
      {% when Some with (date) %}<a href="/?date={{ date }}">&laquo;</a>
      {% when None %}&laquo;
    {% endmatch %}
    {{ current_date }}
    {% match next_date %}
      {% when Some with (date) %}<a href="/?date={{ date }}">&raquo;</a>
      {% when None %}
    {% endmatch %}
  </div>
  <div>
    <a href="/">Tänään</a>
    <a href="/stats">Tilastot</a>
  </div>
</nav>

<div>
  {% include "components/schedule.html" %}
</div>

{% endblock %}
